<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-repeat: no-repeat;
            background-size: 100%;
            text-align: center;
            
        }
        img{
            max-width: 100%;
            max-height: 100%;
            border-radius: 5px;
            margin-bottom: 2rem;
        }
        
 
        input{
            width: -webkit-fill-available;
        }
 
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <br>
    <br>
    <div class="container" >
    <br>
    <h1 style="text-align: center;">Welcome</h1>
    <br>    
    <form style="border: 2px solid green;border-radius: 5px;" method="POST" action="/login">
        <br>
        <br>
        <div class="mx-auto col-md-4 mb-3">
            <label for="validationServerUsername">Username</label>
            <div class="input-group">         
              <input name="username" type="text" class="form-control" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" >
            </div>
          </div>
          <br>
          <div class="mx-auto col-md-4 mb-3">
            <label for="validationServerPassword">Password</label>
            <div class="input-group">         
              <input name="password" type="password" class="form-control" id="validationServerPassword" placeholder="Password" aria-describedby="inputGroupPrepend3" >
            </div>
          </div>
          <br>
          <div class="mx-auto col-md-4">
            <button style="width: 100%;" type="submit" class="btn btn-success">Log In</button>
          </div>
          <br>
      </form>
      <br>
      <div style="text-align: center;">
        <a  href="registration">I don't have an account</a>
      </div>
      <br>
    </div>
    <br>
    <br>
    <div class="container">
        <img src="background1.jpg" alt="Something went wrong">

    </div>

</body>
</html>